.custom-x-button {
  position: absolute;
  right: -20px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
}

.green-color {
  background-color: rgb(0, 128, 0, 0.5);
}

.red-color {
  background-color: rgb(255, 0, 0, 0.5);
}
